body {
    background-image: url('/img/matrix.jpg'); /* substitua 'background-image.jpg' pelo nome da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    width: 50%;
    margin: 0 auto; /* centraliza o conteúdo horizontalmente */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave */
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}

h1, p {
    text-align: center;
}
